/*__________ VAR __________*/

//  ---------- FONTS : look in the top of _typography.scss

// ---------- COLOR :  

$facebook: #3B5998;
$twitter: #4099FF;
$instagram: brown;
$foursquare: #38AAE1;
$soundcloud: #FF6600;
